.modal.wide-modal(ng-class='{hide: user.stats.lvl < 5 || user.stats.class}', role='dialog')
  .modal-header
    h3 Class System Unlocked
  .modal-body
    | You've unlocked the Class System! How would you like to play? (Click the buttons for more details)
    br
    .btn-group
      button.btn(ng-click='classSelection = "automatic"', ng-class='{active: classSelection=="automatic"}') Automatic
      button.btn(ng-click='classSelection = "classic"', ng-class='{active: classSelection=="classic"}') Classic
    .well(ng-show='classSelection=="automatic"')
      p Your class will be determined automatically based on your actions in HabitRPG. Your tasks will now have a section called "Attributes" which will drive this process. This method is more fun and personal, and your avatar represents your real life actions.
    div(ng-show='classSelection=="classic"')
      .well You choose your clas, and allocated points manually each time you level up. This method gives you more control, and detatches your avatar from your real-life actions.
      .well(ng-show='selectedClass=="warrior"') Warriors deal moderate damage to tasks and have moderate defense against tasks.
      .well(ng-show='selectedClass=="wizard"') Wizards deal high damage to task, and can cast debuff spells on multiple tasks.
      .well(ng-show='selectedClass=="rogue"') Rogues finds more drops, Gold, and have a high chance of dealing "critical hits," which grant large GP & Exp bonuses. Rogues can also "go stealth" to avoid and entire day of dailies.
      .well(ng-show='selectedClass=="healer"') Healers have high defense against damage, and can heal themselves and other players in the party, as well as buff players.
      .row-fluid
        .span3(ng-click='selectedClass = "warrior"')
          h5 Warrior
          figure.herobox(ng-class='{"selected-class": selectedClass=="warrior"}')
            .character-sprites
              span(class='{{user.preferences.gender}}_skin_{{user.preferences.skin}}')
              span(class='{{user.preferences.gender}}_hair_{{user.preferences.hair}}')
              span(class='{{user.preferences.gender}}_armor_5-warrior')
              span(class='{{user.preferences.gender}}_head_5-warrior')
        .span3(ng-click='selectedClass = "wizard"')
          h5 Wizard
          figure.herobox(ng-class='{"selected-class": selectedClass=="wizard"}')
            .character-sprites
              span(class='{{user.preferences.gender}}_skin_{{user.preferences.skin}}')
              span(class='{{user.preferences.gender}}_hair_{{user.preferences.hair}}')
              span(class='{{user.preferences.gender}}_armor_5-wizard')
              span(class='{{user.preferences.gender}}_head_5-wizard')
        .span3(ng-click='selectedClass = "rogue"')
          h5 Rogue
          figure.herobox(ng-class='{"selected-class": selectedClass=="rogue"}')
            .character-sprites
              span(class='{{user.preferences.gender}}_skin_{{user.preferences.skin}}')
              span(class='{{user.preferences.gender}}_hair_{{user.preferences.hair}}')
              span(class='{{user.preferences.gender}}_armor_5-rogue')
              span(class='{{user.preferences.gender}}_head_5-rogue')
        .span3(ng-click='selectedClass = "healer"')
          h5 Healer
          figure.herobox(ng-class='{"selected-class": selectedClass=="healer"}')
            .character-sprites
              span(class='{{user.preferences.gender}}_skin_{{user.preferences.skin}}')
              span(class='{{user.preferences.gender}}_hair_{{user.preferences.hair}}')
              span(class='{{user.preferences.gender}}_armor_5-healer')
              span(class='{{user.preferences.gender}}_head_5-healer')

  .modal-footer
    button.btn.btn-default.cancel(ng-click='set("stats.class", selectedClass)') Select